* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100vw;
  height: 100vh;
  border: 0.3rem solid red;
}

.post {
  display: flex;
  padding: 1rem;
  border: 0.3rem solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
}

.post__btn__Delete {
  padding: 1rem;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}
