/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the root element (usually a div with id="root") */
#root {
  display: flex;
  justify-content: center; /* Center its child elements horizontally */
}

/* Style the "App" component element */
.App {
  width: 100vw; /* Take the full width of the viewport */
  height: 100vh; /* Take the full height of the viewport */
  border: 0.3rem solid red; /* Add a red border of 0.3rem */
}

.App__h1 {
  text-align: center;
  padding-top: 1rem;
}

/* Style the "post" container element */
.post {
  display: flex; /* Display its child elements in a row */
  margin-top: 1rem; /* Add top margin of 15px */
  margin-bottom: 1rem;
  padding: 1rem; /* Add padding of 1rem */
  border: 0.3rem solid teal; /* Add a teal border of 0.3rem */
  justify-content: space-between; /* Space out its child elements evenly */
  align-items: center; /* Center its child elements vertically */
  font-weight: 500; /* Set font weight to 500 */
  font-size: 2rem; /* Set font size to 2rem */
}

/* Style the "Delete" button inside the "post" container */
.post__btn__Delete {
  padding: 1rem; /* Add padding of 1rem */
  font-weight: 500; /* Set font weight to 500 */
  font-size: 2rem; /* Set font size to 2rem */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

/* Common styles for all buttons with the class "my-button" */
.my-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Style for buttons with the class "primary" */
.my-button.primary {
  background-color: #007bff;
}

/* Style for buttons with the class "secondary" */
.my-button.secondary {
  background-color: #6c757d;
}

/* Style for buttons with the class "success" */
.my-button.success {
  background-color: #28a745;
}

/* Style for buttons with the class "danger" */
.my-button.danger {
  background-color: #dc3545;
}

/* Style for buttons with the class "warning" */
.my-button.warning {
  background-color: #ffc107;
}

/* Style for buttons with the class "info" */
.my-button.info {
  background-color: #17a2b8;
}

/* Style for buttons with the class "light" */
.my-button.light {
  background-color: #f8f9fa;
  color: #212529;
}

/* Style for buttons with the class "dark" */
.my-button.dark {
  background-color: #343a40;
  color: #fff;
}

/* Hover effect for all buttons with the class "my-button" */
.my-button:hover {
  background-color: #0056b3;
}
